.box-container {
  display: flex;
  width: 250px;
  background-color: rgb(253, 253, 253);
  height: 200px;
  border-radius: 2%;
  border-style: solid;
  border-color: lightgray;
  justify-items: center;
  justify-content: center;
}

.button {
  width: fit-content;
  /* backdrop-filter: brightness(2); */
  /* filter: hue-rotate(90deg); */
  filter: brightness(1.1);
}
.image {
  width: fit-content;
  /* backdrop-filter: brightness(2); */
  /* filter: hue-rotate(90deg); */
  filter: brightness(1.1);
}
